*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #2D2241;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper {
  width: 90%;
  max-width: 564px;
  min-height: 826px;
  background-color: #fff;
  border-radius: 15px;
}

body .header__task-list {
  color: #444;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 3.5rem;
}

body .header__label {
  display: block;
  color: #444;
  font-size: 1.6rem;
  margin-left: 2.9rem;
  margin-top: 3.6rem;
}

body .header__input {
  display: block;
  height: 2.8rem;
  width: 40.8rem;
  margin-left: 3rem;
  margin-top: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid black;
  font-size: 1.4rem;
  padding: 0 0.5rem;
  color: #444;
}

body .header__btn {
  display: inline-block;
  width: 11.6rem;
  height: 2.1rem;
  background-color: #049A37;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 3rem;
  margin-top: 2.1rem;
  margin-bottom: 0rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

body .header__btn:hover {
  background-color: #0bf95c;
}

body .filter__tasks {
  color: #444;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 4.1rem;
}

body .filter__label {
  display: block;
  color: #444;
  font-size: 1.6rem;
  margin-left: 2.9rem;
  margin-top: 3.5rem;
}

body .filter__input {
  display: block;
  height: 2.8rem;
  width: 40.8rem;
  margin-left: 3rem;
  margin-top: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid black;
  font-size: 1.4rem;
  padding: 0 0.5rem;
  color: #444;
}

body .task-columns {
  width: 50.4rem;
  margin: 0 auto;
  margin-top: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .task-columns .columns {
  -ms-flex-preferred-size: 24.2rem;
      flex-basis: 24.2rem;
}

body .task-columns .columns__tasks {
  color: #444;
  font-size: 2rem;
  text-align: center;
  margin-top: 0rem;
}

body .task-columns .columns__items {
  list-style: none;
  width: 100%;
  max-width: 24.2rem;
  min-height: 31.1rem;
  border: 1px solid black;
  border-radius: 0.4rem;
  margin-top: 1.9rem;
  padding: 1.4rem 0.7rem;
}

body .task-columns .columns__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

body .task-columns .columns__item .btns__btn-done {
  display: inline-block;
  width: 3.7rem;
  height: 2.1rem;
  background-color: #1410EA;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

body .task-columns .columns__item .btns__btn-done:hover {
  background-color: #6e6bf5;
}

body .task-columns .columns__item .btns__btn-remove {
  display: inline-block;
  width: 4.8rem;
  height: 2.1rem;
  background-color: #EA1010;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

body .task-columns .columns__item .btns__btn-remove:hover {
  background-color: #f56b6b;
}

body .task-columns .columns__item .btns__btn-back {
  display: inline-block;
  width: 4.8rem;
  height: 2.1rem;
  background-color: #049A37;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

body .task-columns .columns__item .btns__btn-back:hover {
  background-color: #0bf95c;
}

body .task-columns .columns__btn {
  display: inline-block;
  width: 14.5rem;
  height: 2.1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 0rem;
  margin-top: 3.6rem;
  margin-bottom: 3.9rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

body .task-columns .columns__btn:hover {
  background-color: #333333;
}

@media (max-width: 570px) {
  body .wrapper {
    width: 90%;
    max-width: 445px;
    min-height: 826px;
    background-color: #fff;
    border-radius: 15px;
  }
  body .header__input {
    display: block;
    height: 2.8rem;
    width: 36.8rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: #444;
  }
  body .filter__input {
    display: block;
    height: 2.8rem;
    width: 36.8rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: #444;
  }
  body .task-columns {
    width: 44.4rem;
    margin: 0 auto;
    margin-top: 3.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .task-columns .columns {
    -ms-flex-preferred-size: 94%;
        flex-basis: 94%;
  }
  body .task-columns .columns__items {
    list-style: none;
    width: 100%;
    max-width: 35.2rem;
    min-height: 31.1rem;
    margin: 0 auto;
    margin-top: 1.9rem;
  }
  body .task-columns .columns__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 450px) {
  body .wrapper {
    width: 100%;
  }
  body .task-columns {
    width: 36.4rem;
  }
}

@media (max-width: 410px) {
  body .wrapper {
    width: 100%;
    max-width: 410px;
  }
  body .header__input {
    display: block;
    height: 2.8rem;
    width: 32.8rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: #444;
  }
  body .filter__input {
    display: block;
    height: 2.8rem;
    width: 32.8rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: #444;
  }
  body .task-columns {
    width: 36.4rem;
  }
}

@media (max-width: 360px) {
  body .wrapper {
    width: 100%;
    max-width: 360px;
  }
  body .header__input {
    display: block;
    height: 2.8rem;
    width: 27.8rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: #444;
  }
  body .filter__input {
    display: block;
    height: 2.8rem;
    width: 27.8rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: #444;
  }
  body .task-columns {
    width: 34.4rem;
  }
}

@media (max-width: 320px) {
  body .wrapper {
    width: 100%;
    max-width: 320px;
  }
  body .header__input {
    display: block;
    height: 2.8rem;
    width: 24.8rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: #444;
  }
  body .filter__input {
    display: block;
    height: 2.8rem;
    width: 24.8rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: #444;
  }
  body .task-columns {
    width: 30.4rem;
  }
}
/*# sourceMappingURL=style.css.map */