body {
  width: 100%;
  min-height: 100vh;
  background-color: $body-color;

  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 90%;
    max-width: 564px;
    min-height: 826px;
    background-color: #fff;
    border-radius: 15px;
  }

  .header {
    &__task-list {
      @include task-header(2.4rem, 3.5rem);
    }

    &__label {
      @include task-label(3.6rem);
    }

    &__input {
      @include task-input;
    }

    &__btn {
      @include btn(11.6rem, 2.1rem, $btn-green, $btn-font-color, 0.8rem, 1.6rem, 3rem, 2.1rem);
    }
  }

  .filter {
    &__tasks {
      @include task-header(2.4rem, 4.1rem);
    }

    &__label {
      @include task-label(3.5rem);
    }

    &__input {
      @include task-input;
    }
  }

  .task-columns {
    background-color: yellow;
    width: 50.4rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    .columns {
      background-color: green;

      &__tasks {
        @include task-header(2rem, 3.3rem);
      }

      &__items {
        list-style: none;
      }

      &__item {}
    }
  }
}